<template>
    <div>
        <h1 v-if="isNew">New ToDo</h1>
        <h1 v-if="!isNew">Edit ToDo</h1>
        <formio :src="todoForm" @submit="submitted()" />
    </div>
</template>

<script>
import { Formio } from 'vue-formio';

import config from '@/config';

export default {
    name: 'Edit',
    components: {
        formio: Formio,
    },
    data() {
        let todoForm = config.forms.todo;
        if (this.$route.params.id) {
            todoForm += `/${this.$route.params.id}`;
        }

        return {
            todoForm: todoForm,
            isNew: !this.$route.params.id,
        };
    },
    methods: {
        submitted() {
            this.$router.push({name: 'list'});
        },
    },
};
</script>

<style scoped>
</style>
