<template>
    <div class="todos">
        <h1>ToDo</h1>

        <h2 v-if="todos.length === 0">Nothing to see here!</h2>

        <div class="row" v-for="todo in todos" :key="todo._id">
            <div class="col">
                <status :status="todo.data.status" />
                {{todo.data.title}}
            </div>
            <div class="col-2">
                <button
                    type="button"
                    class="btn btn-danger btn-sm float-right delete"
                    @click="confirmRemove(todo)"
                >
                    Delete
                </button>

                <router-link
                    :to="{name: 'edit', params: {id: todo._id}}"
                    class="btn btn-success btn-sm float-right"
                >
                    Edit
                </router-link>
            </div>
        </div>

        <modal name="confirm-remove" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Are you sure your want to delete this todo item?
                    </h5>
                    <button
                        type="button"
                        class="close"
                        @click="$modal.hide('confirm-remove')"
                        aria-label="Cancel"
                    >
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{toRemove && toRemove.data.title}}</p>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        @click="$modal.hide('confirm-remove')"
                    >
                        Cancel
                    </button>
                    <button
                        type="button"
                        class="btn btn-danger"
                        @click="remove()"
                    >
                        Delete
                    </button>
                </div>
            </div>
        </modal>
    </div>
</template>

<script>
import { Formio } from 'vue-formio';
import Formiojs from 'formiojs';

import Status from '@/components/Status';
import config from '@/config';

export default {
    name: 'List',
    components: {
        formio: Formio,
        status: Status,
    },
    data() {
        return {
            todoForm: config.forms.todo,
            todos: [],
            toRemove: null,
        };
    },
    created() {
        if (this.$root.authenticated) {
            this.refresh();
        }
    },
    methods: {
        refresh() {
            let formio = new Formiojs(config.forms.todo);
            formio.loadSubmissions().then((res) => {
                let todos = [];
                for (let i = 0; i < res.length; i++) {
                    todos.push(res[i]);
                }

                // Sort done to the bottom and started to the top
                todos = todos.sort((a, b) => {
                    if (a.data.status == b.data.status) {
                        return 0;
                    }
                    else if (a.data.status == 'done') {
                        return 1;
                    }
                    else if (b.data.status == 'done') {
                        return -1;
                    }
                    else if (a.data.status == 'started') {
                        return -1;
                    }
                    else if (b.data.status == 'started') {
                        return 1;
                    }

                    return 0;
                });

                this.todos = todos;
            });
        },
        confirmRemove(todo) {
            this.toRemove = todo;
            this.$modal.show('confirm-remove');
        },
        remove() {
            let formio = new Formiojs(`${config.forms.todo}/${this.toRemove._id}`);
            formio.deleteSubmission().then(() => {
                this.toRemove = null;
                this.$modal.hide('confirm-remove');
                return this.refresh();
            });
        },
    },
    watch: {
        '$root.authenticated': function() {
            if (this.$root.authenticated) {
                this.refresh();
            }
            else {
                this.todos = [];
            }
        },
    },
};
</script>

<style scoped>
.todos .row {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    padding-bottom: 0.25em;
    border-bottom: grey 1px solid;
}

.todos .delete {
    margin-left: 1em;
}
</style>
