<template>
    <div class="row">
        <div class="col">
            <h1>Login</h1>
            <formio :src="loginForm" @submit="login()" />
        </div>
        <div class="col">
            <h1>Register</h1>
            <formio :src="registerForm" @submit="login()" />
        </div>
    </div>
</template>

<script>
import { Formio } from 'vue-formio';

import config from '@/config';
import auth from '@/auth';

export default {
    name: 'Login',
    components: {
        formio: Formio,
    },
    data() {
        return {
            loginForm: config.forms.login,
            registerForm: config.forms.register,
        };
    },
    methods: {
        login() {
            auth.updateCurrentUser().then(() => {
                this.$router.push({name: 'list'});
            });
        },
    },
};
</script>

<style scoped>
</style>
