<template>
    <span>
        <span v-if="status == 'notstarted'" class="badge badge-secondary">Not Started</span>
        <span v-if="status == 'started'" class="badge badge-primary">Started</span>
        <span v-if="status == 'done'" class="badge badge-success">Done</span>
    </span>
</template>

<script>
export default {
    name: 'Status',
    props: ['status'],
};
</script>

<style scoped>
</style>
