<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <router-link :to="{name: 'list'}" class="navbar-brand">ToDo App</router-link>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarContent"
                aria-controls="navbarContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" v-if="$root.authenticated">
                        <router-link :to="{name: 'list'}" class="nav-link">List</router-link>
                    </li>
                    <li class="nav-item" v-if="$root.authenticated">
                        <router-link :to="{name: 'new'}" class="nav-link">New</router-link>
                    </li>
                    <li class="nav-item active" v-if="!$root.authenticated">
                        <router-link :to="{name: 'login'}" class="nav-link">Login</router-link>
                    </li>
                </ul>

                <ul class="navbar-nav" v-if="$root.authenticated">
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#" id="navbarDropdown"
                            role="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                        >
                            {{$root.currentUser.data.fullName}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#" @click="logout()">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <router-view/>
        </div>
    </div>
</template>

<script>
import auth from '@/auth';

export default {
    name: 'App',
    created() {
        auth.updateCurrentUser().then((user) => {
            if (!user) {
                this.$router.push({name: 'login'});
            }
        });
    },
    methods: {
        logout() {
            auth.logout().then(() => {
                this.$router.push({name: 'login'});
            });
        },
    },
};
</script>

<style>
.v--modal-box.v--modal {
    /* The height is hardcoded by vue-js-modal */
    height: auto !important;
}
</style>
